@model mvcCV.Models.entity.TBLSERTİFİKA
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Sertifika Düzenleme Sayfası</h2>

<form method="post">
    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.ACIKLAMA, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.TARİH, new { @class = "form-control" })

    <br />
    <button class="btn btn-succes ">Güncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
   
</form>




