@model mvcCV.Models.entity.TBLYETENEK
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>Yeni Yetenek Ekleme Sayfası</h4>

<form method="post">
    @Html.Label("Yetenek Açıklaması")
    @Html.TextBoxFor(x => x.YETENEK, new { @class = "form-control" })
    <br />
    @Html.Label("Derece")
    @Html.TextBoxFor(x => x.ORAN, new { @class = "form-control" })

    <br />
    <button class="btn btn-info ">Kaydet</button>
</form>


